{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>پرداختم</title>
    <script src="{% static 'analytics/Chart.bundle.js' %}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {
            height: 550px
        }

        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #f1f1f1;
            height: 100%;
        }

        /* On small screens, set height to 'auto' for the grid */
        @media screen and (max-width: 767px) {
            .row.content {
                height: auto;
            }
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">پرداختم</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/analytics/registered_driver_per_week">راننده ثبت نام شده / هفته</a></li>
                <li><a href="/analytics/drivers_num_per_week">راننده / هفته</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
            <h2>پرداختم</h2>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="/analytics/registered_driver_per_week">راننده ثبت نام شده / هفته</a></li>
                <li><a href="/analytics/drivers_num_per_week">راننده / هفته</a></li>
            </ul>
            <br>
        </div>
        <br>

        <div class="col-sm-9">
            <canvas id="myChart"></canvas>
            <script>
                var ctx = document.getElementById("myChart").getContext("2d");
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels:{{ labels }},
                        datasets: [
                            {
                                label: "{{ registered_driver_num_label }}",
                                data: {{ registered_driver_num_list }},
                            }
                        ]
                    }
                })
            </script>
        </div>
    </div>
</div>

</body>
</html>
