{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>پرداختم</title>
    <script src="{% static 'analytics/Chart.bundle.js' %}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row content">
            <canvas id="myChart"></canvas>
            <script>
                var ctx = document.getElementById("myChart").getContext("2d");
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels:{{ labels }},
                        datasets: [
                            {
                                label: "{{ worked_drivers_num_label }}",
                                data: {{ worked_drivers_num_list }}
                            },
                            {
                                label: "{{ drivers_num_label }}",
                                data: {{ drivers_num_list }}
                            }
                        ]
                    }
                })
            </script>
    </div>
</div>

</body>
</html>
