<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>رانندگان فعال هفته پیش</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>اسم</th>
        <th>فامیل</th>
        <th>موبایل</th>
        <th>اسم خط</th>
        <th>روز پشتیبانی</th>
        <th>ماشین</th>
        <th>تعداد کارکرد</th>
    </tr>
    {% for active_driver in active_drivers %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ active_driver.name }}</td>
            <td>{{ active_driver.family }}</td>
            <td>{{ active_driver.mobile }}</td>
            <td>{{ active_driver.line_name }}</td>
            <td>{{ active_driver.support_day }}</td>
            <td>{{ active_driver.type }}</td>
            <td>{{ active_driver.count }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>