<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>خطوط فعال هفته گذشته</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

<table class="table table-bordered">
    <tr>
        <th>خط</th>
        <th>تعداد راننده‌های فعال</th>
        <th>تعداد پرداخت</th>
    </tr>

    {% for line in lines %}
        <tr>
            <td>{{ line.line }}</td>
            <td>{{ line.driver_num }}</td>
            <td>{{ line.pay_num }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>