<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>پبپ | ‌رانندگانن خط</title>
</head>
<body>
<form method="post" action="/marketer/drivers_of_line_tmp">
    <input type="number" name="line" placeholder="کد خط"/>
    <input type="submit" value="کدوم خط؟"/>
</form>

{% if drivers %}
    <table class="table  table-bordered">
        <tr>
            <th>تراکنش‌</th>
            <th>موبایل</th>
            <th>ماشین</th>
            <th>فامیل</th>
            <th>اسم</th>
        </tr>
        {% for driver in drivers %}
            <tr>
                <td>{{ driver.count }}</td>
                <td>{{ driver.mobile }}</td>
                <td>{{ driver.type }}</td>
                <td>{{ driver.family }}</td>
                <td>{{ driver.name }}</td>
            </tr>
        {% endfor %}
    </table>

{% endif %}
</body>
</html>