<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>پنل عظیم بازاریابان عظیم پرداختم عظیم</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <input type="submit" value="صاحب خط ها" name="action">
    <input type="submit" value="مسابقه" name="action">
    <input type="submit" value="عملکرد خط" name="action">
    <input type="submit" value="لیست رانندگان خط" name="action">
</form>

</body>
</html>