<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>پبپ | صاحبان خط ها</title>
</head>
<body>
<table class="table table-bordered">
    <tr>
        <th>لیست خطوط</th>
        <th>صاحب</th>
    </tr>

    {% for team in teams %}
        <tr>
            <td>{{ team.0 }}</td>
            <td>{% for line in team.1 %} {{ line }}, {% endfor %}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>