{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js"></script>
    <script src="{% static 'support/persian-date.js' %}"></script>


    <style media="screen">
        body {
            font-family: IRANSans;
        }

        .btn-circle {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
        }

        .panel {
            font-size: 15px;
        }

        #rightPart {
            background-color: #2980b9;
            height: 600px;
        }

        #panBody {
            padding: 0px;
            height: 600px;
            background-color: #EEEEEE;
        }

        .signIn {
            margin: 10px;
            margin-left: 0px;
            width: 100%;
        }

        textarea.ng-dirty {
            background-color: #ffb3b3;
        }

        .cells {
            padding-left: 5px;
            padding-right: 5px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#supportTab").click(function () {
                $(".header-tab").removeClass("active");
                $(this).addClass("active");
                $(".rightCol").hide();
                $("#supportCol").show();
                $(".leftPanel").hide();
                {#                $("#mainPanel").show();#}
                $("#driverPanel").show();
                $(".rightBtn").removeClass("active");
                $("#driverBtn").addClass("active");
            });
            $("#analyticsTab").click(function () {
                $(".header-tab").removeClass("active");
                $(this).addClass("active");
                $(".rightCol").hide();
                $("#analyticsCol").show();
                $(".leftPanel").hide();
                $("#driver_registration_monitor").show();
                $(".rightBtn").removeClass("active");
            });
            $("#marketerTab").click(function () {
                $(".header-tab").removeClass("active");
                $(this).addClass("active");
                $(".rightCol").hide();
                $("#marketerCol").show();
                $(".leftPanel").hide();
                $("#marketer_monitor_chart").show();
                $(".rightBtn").removeClass("active");
            });

            $(".rightBtn").click(function () {
                {#                if (!$(this).hasClass("active")) {#}
                acctiverButt(this);
                choosePanel(this);
                {#                }#}
            });
            function choosePanel(butt) {
                var thePanel = $(butt).val();
                $(".leftPanel").hide();
                clear();
                if (thePanel == "passenger") {
                    $("#passengerPanel").show();
                } else if (thePanel == "driver") {
                    $("#driverPanel").show();
                } else if (thePanel == "line_performance_btn") {
                    $("#line_performance").show();
                    refreshIfraime(butt);
                } else if (thePanel == "drivers_of_line_btn") {
                    $("#drivers_of_line").show();
                    refreshIfraime(butt);
                } else if (thePanel == "lines_owner_btn") {
                    alert("هنوز لانچ نشده!");
                    getLineOwner();
                } else if (thePanel == "marketer_monitor_chart_btn") {
                    $("#marketer_monitor_chart").show();
                } else if (thePanel == "last_week_active_drivers_btn") {
                    $("#last_week_active_drivers_panel").show();
                } else if (thePanel == "driver_registration_monitor_btn") {
                    $("#driver_registration_monitor").show();
                } else if (thePanel == "last_week_active_lines_btn") {
                    $("#last_week_active_lines").show();
                } else if (thePanel == "register_to_active_monitor_list_btn") {
                    $("#register_to_active_monitor_list").show();
                } else if (thePanel == "register_to_active_monitor_chart_btn") {
                    $("#register_to_active_monitor_chart").show();
                } else if (thePanel == "active_to_active_monitor_list_btn") {
                    $("#active_to_active_monitor_list").show();
                } else if (thePanel == "active_to_active_monitor_chart_btn") {
                    $("#active_to_active_monitor_chart").show();
                } else if (thePanel == "marketer_transaction_btn") {
                    console.log("chart ran!");
                    $("#marketer_transaction").append('<iframe id="marketer_transaction_iframe" src="/marketer/marketer_monitor_chart" '
                        + 'style="width: 100%; height:600px; owerflow:scroll;" hidden="hidden"></iframe>');
                    $("#marketer_transaction").show();
                    {#                    $("#marketer_transaction_iframe").hide();#}
                    setTimeout(transection_chart_waiter(), 26000);
                }
            }

            function transection_chart_waiter() {
                $("#marketer_transaction_waiter").hide();
                $("#marketer_transaction_iframe").show();
            }

            function acctiverButt(butt) {
                $(".rightBtn").removeClass("active");
                $(butt).addClass("active");
            }

            $("#mobileDriverBtn").click(function () {
                console.log('mobile called');
                clear();
                $(".leftPanel").hide();
                $("#loader").show();
                var driverMobileReq = $("#driverMobileReq").val();
                find_driver(0, driverMobileReq);
            });
            $("#codeDriverBtn").click(function () {
                clear();
                $(".leftPanel").hide();
                $("#loader").show();
                var driverCodeReq = $("#driverCodeReq").val();
                find_driver(driverCodeReq, 0);
            });
            $("#mobilePassengerBtn").click(function () {
                clear();
                $(".leftPanel").hide();
                $("#loader").show();
                var passMobileReq = $("#passMobileReq").val();
                find_passenger(0, passMobileReq);
            });
            $("#codePassengerBtn").click(function () {
                clear();
                $(".leftPanel").hide();
                $("#loader").show();
                var passCodeReq = $("#passCodeReq").val();
                find_passenger(passCodeReq, 0);
            });

            function find_driver(code, mobile) {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        var resObj = JSON.parse(this.responseText);
                        var myObj = resObj.driver;
                        drvResPanl(myObj);
                    } else if (this.readyState == 4 && this.status == 205) {
                        $("#resRsult").text('این شماره به عنوان مسافر ثبت نام شده است!');
                        $(".leftPanel").hide();
                        $("#responsePanel").show();
                    } else if (this.readyState == 4 && this.status == 204) {
                        $("#resRsult").text('این شماره موبایل در سیستم وجود ندارد!');
                        $(".leftPanel").hide();
                        $("#responsePanel").show();
                    } else if (this.readyState == 4 && this.status == 203) {
                        $("#resRsult").text('ثبت کد به صورت ناقص انجام شده است!');
                        $(".leftPanel").hide();
                        $("#responsePanel").show();
                    } else if (this.readyState == 4 && this.status == 207) {
                        $("#resRsult").text('این کد یه راننده ای اختصاص داده نشده است!');
                        $(".leftPanel").hide();
                        $("#responsePanel").show();
                    }
                };
                xhttp.open("POST", "/support/find_user", true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                if (code == 0) {
                    var data = "driver_mobile=" + mobile;
                } else if (mobile == 0) {
                    var data = "driver_code=" + code;
                }
                xhttp.send(data);
            }

            function find_passenger(code, mobile) {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        var resObj = JSON.parse(this.responseText);
                        var myObj = resObj.passenger;
                        passResPanl(myObj);
                    } else if (this.readyState == 4 && this.status == 206) {
                        $("#resRsult").text('این شماره به عنوان راننده ثبت نام شده است!');
                        $(".leftPanel").hide();
                        $("#responsePanel").show();
                    } else if (this.readyState == 4 && this.status == 204) {
                        $("#resRsult").text('این شماره موبایل در سیستم وجود ندارد!');
                        $(".leftPanel").hide();
                        $("#responsePanel").show();
                    } else if (this.readyState == 4 && this.status == 203) {
                        $("#resRsult").text('ثبت کد به صورت ناقص انجام شده است!');
                        $(".leftPanel").hide();
                        $("#responsePanel").show();
                    }
                };
                xhttp.open("POST", "/support/find_user", true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                if (code == 0) {
                    var data = "pass_mobile=" + mobile;
                } else if (mobile == 0) {
                    var data = "pass_code=" + code;
                }
                xhttp.send(data);
            }

            function passResPanl(passengerObj) {
                $("#resRsult").text('مسافر با موفقیت پیدا شد.');
                var mobile = passengerObj.mobile;
                $("#resultTable").append('<thead><tr><th style="text-align:right; font-weight:normal;">کد:</th>' +
                    '<th style="text-align:right; font-weight:normal;"><input class="form-control" ' +
                    'value="' + passengerObj.code + '" id="passengerCode" disabled></th></tr></thead>');
                $("#resultTable").append('<tbody id="tableBody">');
                $("#resultTable").append(passRowCrator("اعتبار:", passengerObj.credit, "passengerCredit", "chCredit", mobile));
                $("#resultTable").append(passRowCrator("موبایل:", passengerObj.mobile, "passengerMobile", "chMobile", mobile));
                $("#resultTable").append('<tr><td></td><td style="text-align:left;"><div class="btn-group"><button ' +
                    'onclick="chargeList(\'' + mobile + '\')" class="btn btn-primary" id="lastChargeBtn">شارژ های اخیر</button>'
                    + '<span>  </span><button onclick="payList(\'passenger\' ,\'' + mobile + '\')" ' +
                    'class="btn btn-primary" id="lastPayBtn">پرداخت های اخیر</button></div></td><td></td></tr>');
                $(".btn-success").hide();
                $(".btn-danger").hide();
                $(".leftPanel").hide();
                $("#responsePanel").show();
            }

            function drvResPanl(driverObj) {
                {#                $("#resRsult").text('راننده با موفقیت پیدا شد.');#}
                var mobile = driverObj.mobile;
                $("#resultTable").append('<thead><tr><th style="text-align:right; font-weight:normal;">کد :</th>' +
                    '<th style="text-align:right; font-weight:normal;"><input class="form-control" ' +
                    'value="' + driverObj.code + '" id="driverCode" disabled></th></tr></thead>');
                $("#resultTable").append('<tbody id="tableBody">');
                $("#resultTable").append(drvRowCrator("موبایل:", driverObj.mobile, "driverMobile", "chMobile", mobile));
                $("#resultTable").append(drvRowCrator("نام:", driverObj.name, "driverName", "chName", mobile));
                $("#resultTable").append(drvRowCrator("فامیلی:", driverObj.family, "driverFamily", "chfamily", mobile));
                $("#resultTable").append(drvRowCrator("اعتبار:", driverObj.credit, "driverCredit", "chCredit", mobile));
                $("#resultTable").append(drvRowCrator("کد خط:", driverObj.line, "line", "chCode", mobile));
                $("#resultTable").append(drvRowCrator("شماره حساب:", driverObj.cardNumber, "cardNumber", "chCardNumber", mobile));
                $("#resultTable").append(drvRowCrator("شبا:", driverObj.sheba, "sheba", "chSheba", mobile));
                $("#resultTable").append(bankRowCreator(driverObj, mobile));
                $("#resultTable").append(typeRowCreator(driverObj, mobile));
                $("#resultTable").append(smsRowCreator(driverObj, mobile));
                console.log(driverObj.sms);
                if (driverObj.bank == "") {
                    $("#unknownType").attr("selected", "selected");
                } else {
                    $("#" + driverObj.type).attr("selected", "selected");
                }

                console.log(driverObj.bank);
                if (driverObj.bank == "") {
                    $("#unknownBank").attr("selected", "selected");
                } else {
                    $("#" + driverObj.bank).attr("selected", "selected");
                }

                if (driverObj.sms == "" || driverObj.sms == "false") {
                    $("#smsFalse").attr("selected", "selected");
                } else if (driverObj.sms == "true") {
                    $("#smsTrue").attr("selected", "selected");
                }
                $("#resultTable").append(drvRowCrator("معرف:", driverObj.invitedBy, "InvitedBy", "chInvitedBy", mobile));
                $("#resultTable").append('<tr><td></td><td style="text-align:left;">'
                    + '<button onclick="payList(\'driver\' ,\'' + mobile + '\')" ' +
                    'class="btn btn-primary" id="lastPayBtn">دریافت های اخیر</button></td><td></td></tr>');
                $(".btn-success").hide();
                $(".selector-btn-success").show();
                $(".btn-danger").hide();
                $(".leftPanel").hide();
                $("#responsePanel").show();
            }
        });

        function rowCreator(fieldName, content, class_, fieldId, buttId, mobile) {
            var row = '<tr><td>' + fieldName + '</td><td><input type="text" id="' + fieldId + '" class="' + class_ +
                ' form-control" value="' + content + '" disabled></td><td><button  id="' + buttId + '" type="button"  ' +
                'onclick="editBtn(this,\'' + fieldId + '\')" class="btn btn-primary btn-circle btn-sm">' +
                '<i class="glyphicon glyphicon-pencil"></i></button><button type="button" class="btn btn-success ' +
                'btn-circle btn-sm" onclick="sucBtn(this,\'' + mobile + '\',\'' + fieldId + '\',\'' + content + '\')">' +
                '<span class="glyphicon glyphicon-ok"></span></button> <button type="button" class="btn btn-danger ' +
                'btn-circle btn-sm" onclick="cancleBtn(this,\'' + fieldId + '\',\'' + content + '\')">' +
                '<span class="glyphicon glyphicon-remove"></span></button></td></tr>';
            return row;
        }


        function drvRowCrator(fieldName, content, fieldId, buttId, mobile) {
            return rowCreator(fieldName, content, "passengerField", fieldId, buttId, mobile);
        }
        function passRowCrator(fieldName, content, fieldId, buttId, mobile) {
            return rowCreator(fieldName, content, "driverField", fieldId, buttId, mobile);
        }

        function typeRowCreator(driver, mobile) {
            var row = '<tr><td>نوع:</td><td><select class="form-control" id="type" value="'
                + driver.type + '"><option value="unknownType" id="unknownType">انتخاب نشده</option><option value="van" id="van">ون</option>' +
                '<option value="savari" id="savari">سواری</option></select></td><td><button type="button" ' +
                'class="btn btn-success selector-btn-success btn-circle btn-sm" onclick="changeSelector(\'' + mobile + '\',\'type\')">' +
                '<span class="glyphicon glyphicon-ok"></span></button></td>' +
                '</tr>';
            return row;
        }
        function smsRowCreator(driver, mobile) {
            var row = '<tr><td>sms:</td><td><select class="form-control" id="sms" value="'
                + driver.sms + '"><option value="true" id="smsTrue">فعال</option>' +
                '<option value="false" id="smsFalse">غیر فعال</option></select></td><td><button type="button" ' +
                'class="btn btn-success selector-btn-success btn-circle btn-sm" onclick="changeSelector(\'' + mobile + '\',\'sms\')">' +
                '<span class="glyphicon glyphicon-ok"></span></button></td>' +
                '</tr>';
            return row;
        }

        function bankRowCreator(driver, mobile) {
            var row = '<tr><td>بانک:</td><td><select class="form-control" id="bank" value="'
                + driver.bank + '"><option id="unknownBank" value="">انتخاب نشده</option>' +
                '<option id="ayandeh" value="ayandeh">آینده</option>' +
                '<option id="iranzamin" value="iranzamin">ایران زمین</option>' +
                '<option id="ansar" value="ansar">انصار</option>' +
                '<option id="tejarat" value="tejarat">تجارت</option>' +
                '<option id="post-bank" value="post-bank">پست بانک</option>' +
                '<option id="parsian" value="parsian">پارسیان</option>' +
                '<option id="pasargad" value="pasargad">پاسارگاد</option>' +
                '<option id="refah" value="refah">رفاه</option>' +
                '<option id="dey" value="dey">دی</option>' +
                '<option id="sina" value="sina">سینا</option>' +
                '<option id="khavarmiyaneh" value="khavarmiyaneh">خاورمیانه</option>' +
                '<option id="hekmat" value="hekmat">حکمت</option>' +
                '<option id="sarmaye" value="sarmaye">سرمایه</option>' +
                '<option id="shahr" value="shahr">شهر</option>' +
                '<option id="sepah" value="sepah">سپه</option>' +
                '<option id="saman" value="saman">سامان</option>' +
                '<option id="resalat" value="resalat">رسالت</option>' +
                '<option id="ghvamin" value="ghavamin">قوامین</option>' +
                '<option id="saderat" value="saderat">صادرات</option>' +
                '<option id="maskan" value="maskan">مسکن</option>' +
                '<option id="gardeshgari" value="gardeshgari">گردشگری</option>' +
                '<option id="keshavarzi" value="keshavarzi">خاورزمین</option>' +
                '<option id="mellat" value="mellat">ملت</option>' +
                '<option id="melli" value="melli">ملی</option>' +
                '<option id="kosar" value="kosar">کوثر</option>' +
                '</select></td><td><button type="button" ' +
                'class="btn btn-success selector-btn-success btn-circle btn-sm" onclick="changeSelector(\'' + mobile + '\',\'bank\')">' +
                '<span class="glyphicon glyphicon-ok"></span></button></td>' +
                '</tr>';
            return row;
        }

        function editBtn(butt, fieldId) {
            $("#" + fieldId).css("background-color", "yellow");
            $("#" + fieldId).removeAttr('disabled');
            $(butt).hide();
            $("#" + fieldId).parents("tr").find("button.btn-danger").show();
            $("#" + fieldId).parents("tr").find("button.btn-success").show();
        }
        function sucBtn(btn, mobile, fieldId, oldContent) {
            var corrected = $("#" + fieldId).val();
            correctionReq(corrected, mobile, propName(fieldId), oldContent);
            $("#" + fieldId).attr('disabled', 'disabled');
            $("#" + fieldId).css("background-color", "");
            $(btn).hide();
            $("#" + fieldId).parents("tr").find("button.btn-danger").hide();
            $("#" + fieldId).parents("tr").find("button.btn-primary").show();
        }
        function changeSelector(mobile, fieldId) {
            var corrected = $("#" + fieldId).val();
            correctionReq(corrected, mobile, propName(fieldId), "");
        }
        function cancleBtn(btn, fieldId, oldContent) {//hide sucBtn & cancleBtn when load response panel
            $("#" + fieldId).attr('disabled', 'disabled');
            $("#" + fieldId).css("background-color", "");
            $("#" + fieldId).val(oldContent);
            $(btn).hide();
            $("#" + fieldId).parents("tr").find("button.btn-success").hide();
            $("#" + fieldId).parents("tr").find("button.btn-primary").show();
        }
        function correctionReq(corrected, mobile, propName, oldContent) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/support/update_user", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    alert("saved");
                } else if (this.readyState == 4 && this.status == 400) {
                    alert("سیستم را دوباره راه اندازی کنید...چیزی تغییر کرده");
                } else if (this.readyState == 4 && this.status == 404) {
                    alert("اطلاعات تکراریست");
                }
            };
            var data = "correct_data=" + corrected + "&" + "mobile=" + mobile + "&" + "property=" + propName + "&" + "old=" + oldContent;
            console.log(data);
            console.log("called correctionreq " + mobile + oldContent);
            xhttp.send(data);
        }
        function propName(fieldId) {
            if (fieldId == "driverName") {
                return "name";
            } else if (fieldId == "driverFamily") {
                return "family";
            } else if (fieldId == "driverCode" || fieldId == "passengerCode") {
                console.log("code");
                return "code";
            } else if (fieldId == "driverCar") {
                return "type";
            } else if (fieldId == "driverCredit" || fieldId == "passengerCredit") {
                return "credit";
            } else if (fieldId == "line") {
                return "line";
            } else if (fieldId == "InvitedBy") {
                return "InvitedBy";
            } else if (fieldId == "driverMobile" || fieldId == "passengerMobile") {
                return "mobile";
            } else if (fieldId == "description") {
                return "description";
            } else {
                return fieldId;
            }
        }
        function clear() {
            $("#resultTable").empty();
            $("#payNchargeTable").empty();
            $("#register_to_active_table").empty();
        }
        function chargeList(charger_mobile) {
            $(".leftPanel").hide();
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4) {
                    if (this.status == 200 && this.readyState == 4) {
                        console.log("charge list received");
                        var resOBj = JSON.parse(this.responseText);
                        var charges = resOBj.charges;
                        console.log(charges);
                        var mobile = charges[1];

                        $("#payNchargeTable").append('<thead><tr><th style="text-align:right; font-weight:normal;">شماره'
                            + '</th><th style="text-align:right; font-weight:normal;" id="driverMobile">مبلغ</th>'
                            + '<th style="text-align:right; font-weight:normal;">تاریخ</th></tr></thead><tbody>');
                        for (var i = 0; i < charges.length; i++) {
                            var date = convertDate(charges[i].date);
                            $("#payNchargeTable").append('<tr><td>' + i + '</td><td>' + charges[i].amount + '</td><td>' + date + '</tr>');
                        }
                        $("#payNchargeTable").append('</tbody>');
                    } else if (this.status != 200 && this.readyState == 4) {
                        alert("response error" + " status:" + this.status);
                    }
                    $("#payNcharge").show();
                }
            };
            xhttp.open("POST", "/support/get_charges", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            charger_mobile = String(charger_mobile);
            console.log(charger_mobile);
            xhttp.send("charger_mobile=" + charger_mobile);
        }
        function payList(user) {
            $(".leftPanel").hide();
            var table;
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.status == 200 && this.readyState == 4) {
                    var resObj = JSON.parse(this.responseText);
                    var paylist = resObj.pays;
                    if (user == "passenger") {
                        table += '<thead><tr><th style="text-align:right;' +
                            ' font-weight:normal;">راننده</th><th style="text-align:right; font-weight:normal;">مبلغ</th>' +
                            '<th style="text-align:right; font-weight:normal;">تاریخ</th></tr></thead><tbody>';
                        var i;
                        for (i in paylist) {
                            var date = convertDate(paylist[i].date);
                            table += '<tr><td>' + paylist[i].receiver_mobile + '</td><td>' + paylist[i].amount + '</td><td>' + date + '</td></tr>';
                        }
                    } else if (user == "driver") {
                        table += '<thead><tr><th style="text-align:right;' +
                            ' font-weight:normal;">مسافر</th><th style="text-align:right; font-weight:normal;">مبلغ</th>' +
                            '<th style="text-align:right; font-weight:normal;">تاریخ</th></tr></thead><tbody>';
                        var i;
                        for (i in paylist) {
                            var date = convertDate(paylist[i].date);
                            table += '<tr><td>' + paylist[i].payer_mobile + '</td><td>' + paylist[i].amount + '</td><td>' + date + '</td></tr>';
                        }
                    }
                    table += '</tbody>';
                    $("#payNchargeTable").append(table);
                } else if (this.status != 200 && this.readyState == 4) {
                    alert("paylist error stuss:" + this.status);
                }
                $("#payNcharge").show();
            };
            xhttp.open("POST", "/support/get_pays", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            var data;
            if (user == "passenger") {
                data = "passenger_mobile=" + $("#passengerMobile").val();
            } else if (user == "driver") {
                data = "receiver_mobile=" + $("#driverMobile").val();
            }
            xhttp.send(data);
        }
        function refreshIfraime(butt) {
            var val = $(butt).val();
            if (val == "line_performance_btn") {
                var src = $("#line_performance_ifraime").attr("src");
                $("#line_performance_ifraime").attr("src", src)
            } else if (val == "drivers_of_line_btn") {
                var src = $("#drivers_of_line_ifraime").attr("src");
                console.log(src);
                $("#drivers_of_line_ifraime").attr("src", src)

            }


        }
        {#                           -----------------marketer----------------               #}
        function getLineOwner() {
            console.log("getline called");
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readystate == 4 && this.status === 200) {
                    var myJson = JSON.parse(this.responseText);
                    console.log("getLineowner");
                    console.log(myJson);
                } else if (this.readystate == 4 && this.status != 200) {
                    console.log("error");
                    alert("error")
                }
            };
            xhttp.open('GET', 'marketer/lines_owner', true);
            xhttp.setRequestHeader('content-type', 'application/x-www-form-urlencoded');
            xhttp.send()
        }

        function convertDate(date) {
            var p = new persianDate(new Date(date))
                .add('hours', 3)
                .add('minutes', 30);

            return p.format('dddd | YY/MM/D | H:m');
        }

        function gregorian_to_jalali(gy, gm, gd) {
            g_d_m = [0, 31, 59, 90, 120, 151, 181, 212, 243, 273, 304, 334];
            if (gy > 1600) {
                jy = 979;
                gy -= 1600;
            } else {
                jy = 0;
                gy -= 621;
            }
            gy2 = (gm > 2) ? (gy + 1) : gy;
            days = (365 * gy) + (parseInt((gy2 + 3) / 4)) - (parseInt((gy2 + 99) / 100)) + (parseInt((gy2 + 399) / 400)) - 80 + gd + g_d_m[gm - 1];
            jy += 33 * (parseInt(days / 12053));
            days %= 12053;
            jy += 4 * (parseInt(days / 1461));
            days %= 1461;
            if (days > 365) {
                jy += parseInt((days - 1) / 365);
                days = (days - 1) % 365;
            }
            jm = (days < 186) ? 1 + parseInt(days / 31) : 7 + parseInt((days - 186) / 30);
            jd = 1 + ((days < 186) ? (days % 31) : ((days - 186) % 30));
            return [jy, jm, jd];
        }

    </script>
    <script>
        var myApp = angular.module('myApp', []);
        myApp.controller('myCtrl', function ($scope, $http) {
            $scope.acToAc = function () {
                $scope.endAcToAc = false;
                $http.get("/analytics/active_to_active_monitor_list").then(function (response) {
                    $scope.acToAcList = response.data.de_active_drivers;
                    $scope.endAcToAc = true;
                });
            };
            $scope.reToAc = function () {
                $scope.endReToAc = false;
                $http.get("/analytics/register_to_active_monitor_list").then(function (response) {
                    $scope.reToAcList = response.data.registered_drivers;
                    $scope.endReToAc = true;
                    y = [{name: "ji", family: "hi"}, {name: "ji2", family: "hi2"}];
                    {#                    console.log($scope.reToAcList);#}
                });
            };
            $scope.saveDesc = function (mobile, desc, old) {
                correctionReq(desc, mobile, "description", old);
            }
        });
    </script>

</head>
<body>
<div class="container" dir="rtl">
    <br>
    <div class="panel panel-primary" dir="rtl">
        <div class="panel-heading" dir="ltr" style="padding: 0px;">
            <div class="btn-group btn-group-justified" style="margin: 0px;">
                <a href="#" id="marketerTab" class="btn btn-primary header-tab"
                   style="font-family: IRANSans;">مارکتر</a>
                <a href="#" id="analyticsTab" class="btn btn-primary header-tab"
                   style="font-family: IRANSans;">آنالیز</a>
                <a href="#" id="supportTab" class="btn btn-primary header-tab active" style="font-family: IRANSans;">پشتیبانی</a>
            </div>
        </div>
        <div class="panel-body" id="panBody" dir="rtl" ng-app="myApp" ng-controller="myCtrl">
            <div class="col-md-10" dir="rtl" style="padding: 0px; overflow:scroll; height:100%;">
                <div style="padding: 0px 10px 0px 10px; overflow:;">
                    <!-- passengerPanel -->
                    <div id="passengerPanel" class="leftPanel" dir="rtl" hidden="hidden">
                        <h3>اطلاعات مسافر:</h3>
                        <br/><br/><br/><br/>
                        <div class="col-md-6">
                            <label for="passMobileReq">موبایل :</label>
                            <div class="input-group" dir="ltr">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                <input id="passMobileReq" type="number" class="form-control" name="passMobileReq"
                                       placeholder=" شماره موبایل مسافر" dir="rtl">
                            </div>
                            <div dir="ltr">
                                <button type="button" id="mobilePassengerBtn" class="btn btn-primary signIn">ورود
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="passCodeReq">کد:</label>
                            <div class="input-group" dir="ltr">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="passCodeReq" type="number" class="form-control" name="passCodeReq"
                                       placeholder="شماره کد مسافر" dir="rtl">
                            </div>
                            <div dir="ltr">
                                <button type="button" id="codePassengerBtn" class="btn btn-primary signIn">جستجو
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- driverPanel -->
                    <div id="driverPanel" class="leftPanel">
                        <h3>اطلاعات راننده :</h3>
                        <br/><br/><br/><br/>
                        <div class="col-md-6">
                            <label for="drvMobileReq">موبایل :</label>
                            <div class="input-group" dir="ltr">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                <input id="driverMobileReq" type="number" class="form-control" name="drvMobileReq"
                                       placeholder="شماره موبایل راننده" dir="rtl">
                            </div>
                            <div dir="ltr">
                                <button type="button" id="mobileDriverBtn" class="btn btn-primary signIn">جستجو</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="drvCodeReq">کد:</label>
                            <div class="input-group" dir="ltr">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="driverCodeReq" type="number" class="form-control" name="driverCodeReq"
                                       placeholder="شماره کد راننده" dir="rtl">
                            </div>
                            <div dir="ltr">
                                <button type="button" id="codeDriverBtn" class="btn btn-primary signIn">جستجو</button>
                            </div>
                        </div>
                    </div>
                    <!-- response diver panel -->
                    <div id="responsePanel" class="leftPanel" hidden="hidden">
                        <p id="resRsult"></p>
                        <table id="resultTable" class="table table-condensed" dir="rtl" style="text-align:right;">
                        </table>
                    </div>
                    <!--pay&charges panel -->
                    <div id="payNcharge" class="leftPanel" hidden="hidden">
                        <h2 id="payNchargeTitr"></h2>
                        <table id="payNchargeTable" class="table table-striped"></table>
                    </div>
                    <div id="mainPanel" class="leftPanel">
                        <p align="center" style="margin:0 auto;" hidden="hidden">
                            ((صفحه ی مورد نظر را انتخاب کنید)) </p>
                    </div>
                </div>
                <!-- marketer panel -->
                <div id="line_performance" class="leftPanel" hidden="hidden">
                    <iframe id="line_performance_ifraime" src="/marketer/line_performance_tmp"
                            style="width: 100%; height:600px; owerflow:scroll;"></iframe>
                </div>
                <div id="drivers_of_line" class="leftPanel" hidden="hidden">
                    <iframe id="drivers_of_line_ifraime" src="/marketer/drivers_of_line_tmp"
                            style="width: 100%; height:600px; owerflow:scroll;"></iframe>
                </div>
                <div id="marketer_monitor_chart" class="leftPanel" hidden="hidden">
                    <iframe src="/marketer/marketer_monitor_chart_tmp"
                            style="width: 100%; height:600px; owerflow:scroll;"></iframe>
                </div>

                <!-- analitycs panel -->
                <div id="marketer_transaction" class="leftPanel" hidden="hidden">
                    <p id="marketer_transaction_waiter" style="text-align: center;">در حال آماده سازی...ممکن مدتی طول
                        بکشد</p>
                    <!--marketers transaction manitoring-->
                    <!--will add here a iframe tage when click btn -->
                </div>
                <div id="driver_registration_monitor" class="leftPanel" hidden="hidden">
                    <iframe src="/analytics/driver_registration_monitor"
                            style="width: 100%; height:600px; owerflow:scroll;"></iframe>
                </div>
                <div id="last_week_active_drivers_panel" class="leftPanel" hidden="hidden">
                    <iframe src="/analytics/last_week_active_drivers"
                            style="width: 100%; height:600px; owerflow:scroll;"></iframe>
                </div>
                <div id="last_week_active_lines" class="leftPanel" hidden="hidden">
                    <iframe src="/analytics/last_week_active_lines"
                            style="width: 100%; height:600px; owerflow:scroll;"></iframe>
                </div>
                <div id="register_to_active_monitor_chart" class="leftPanel" hidden="hidden">
                    <iframe src="/analytics/register_to_active_monitor_chart"
                            style="width: 100%; height:600px; owerflow:scroll;"></iframe>
                </div>

                <div id="register_to_active_monitor_list" class="leftPanel" style="overflow:scroll; height: 600px;"
                     hidden="hidden">
                    {#                    <p ng-bind="endReToAc"></p>#}
                    {#                    <table style="width:100%; margin:2px auto;">#}
                    {#                        <tr ng-repeat="x in reToAcList">#}
                    {#                            <td ng-bind="x.name"></td>#}
                    {#                            <td>{{ x.family }}</td>#}
                    {#                        </tr>#}
                    {#                    </table>#}
                    <p ng-hide="endReToAc">در حال آماده سازی لیست</p>
                    <table id="active_to_active_table" class="tabel table-striped table-bordered"
                           ng-show="endReToAc" style="width: 100%; font-size:large; text-align: center;">
                        <thead>
                        <tr>
                            <th style="text-align:center;" class="cells">#</th>
                            <th style="text-align:center;">اسم</th>
                            <th style="text-align:center;">فامیلی</th>
                            <th style="text-align:center;">موبایل</th>
                            <th style="text-align:center;">نوع ماشین</th>
                            <th style="text-align:center;">کد خط</th>
                            <th style="text-align:center;">شماره حساب</th>
                            <th style="text-align:center;">توضیحات</th>
                            <th style="text-align:center;">ارسال</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in reToAcList">
                            <td ng-bind="$index + 1" class="cells"></td>
                            <td ng-bind="x.name" class="cells"></td>
                            <td ng-bind="x.family" class="cells"></td>
                            <td ng-bind="x.mobile" class="cells"></td>
                            <td ng-bind="x.type" class="cells"></td>
                            <td ng-bind="x.line"></td>
                            <td ng-bind="x.cardNumber"></td>
                            <td><textarea ng-model="x.description" ng-focus="old=x.description"></textarea></td>
                            <td>
                                <button style="background-color: #2980b9" class="btn-circle"
                                        ng-click="saveDesc(x.mobile,x.description,old)">
                                    <span class="glyphicon glyphicon-ok"></span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="active_to_active_monitor_chart" class="leftPanel" hidden="hidden">
                    <iframe src="/analytics/active_to_active_monitor_chart"
                            style="width: 100%; height:600px; owerflow:scroll;"></iframe>
                </div>
                <div id="active_to_active_monitor_list" class="leftPanel"
                     style="overflow:scroll; width:100%; height: 599px;" hidden="hidden">
                    <p ng-hide="endAcToAc">در حال آماده سازی لیست</p>
                    <table id="active_to_active_table" class="tabel table-striped table-bordered"
                           ng-show="endAcToAc" style="width: 100%; font-size:large; text-align: center;">
                        <thead>
                        <tr>
                            <th style="text-align:center;" class="cells">#</th>
                            <th style="text-align:center;">اسم</th>
                            <th style="text-align:center;">فامیلی</th>
                            <th style="text-align:center;" class="cells">موبایل</th>
                            <th style="text-align:center;">نوع ماشین</th>
                            <th style="text-align:center;">کد خط</th>
                            <th style="text-align:center;" class="cells">شماره حساب</th>
                            <th style="text-align:center;">توضیحات</th>
                            <th style="text-align:center;">ارسال</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in acToAcList">
                            <td ng-bind="$index + 1" class="cells"></td>
                            <td ng-bind="x.name"></td>
                            <td ng-bind="x.family"></td>
                            <td ng-bind="x.mobile" style="width: 300px;"></td>
                            <td ng-bind="x.type"></td>
                            <td ng-bind="x.line"></td>
                            <td ng-bind="x.cardNumber"></td>
                            <td><textarea ng-model="x.description" ng-focus="old=x.description"></textarea></td>
                            <td>
                                <button style="background-color: #2980b9" class="btn-circle"
                                        ng-click="saveDesc(x.mobile,x.description,old)">
                                    <span class="glyphicon glyphicon-ok"></span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- right panel -->
            <div id="rightPart" class="col-md-2" style="padding:20px;" dir="rtl">
                <div id="supportCol" class="rightCol">
                    <div class="btn-group-vertical btn-block" dir="rtl">
                        <button type="button" id="passengerBtn" class="btn btn-primary  rightBtn" value="passenger">
                            مسافر
                        </button>
                        <button type="button" id="driverBtn" class="btn btn-primary rightBtn active" value="driver">
                            راننده
                        </button>
                    </div>
                </div>
                <div id="marketerCol" class="rightCol" hidden="hidden">
                    <div class="btn-group-vertical btn-block" dir="rtl">
                        <span>مسابقه:</span>
                        <br>
                        <button type="button" id="marketer_monitor_chart_btn" class="btn btn-primary rightBtn active"
                                value="marketer_monitor_chart_btn">نمودار
                        </button>
                        <hr>
                        <span>اطلاعات خط:</span>
                        <br>
                        <button type="button" id="lines_owner_btn" class="btn btn-primary  rightBtn"
                                value="lines_owner_btn">
                            صاحب
                            خط
                        </button>
                        <button type="button" id="line_performance_btn" class="btn btn-primary  rightBtn"
                                value="line_performance_btn">عملکرد خط
                        </button>
                        <button type="button" id="drivers_of_line_btn" class="btn btn-primary  rightBtn"
                                value="drivers_of_line_btn">لیست رانندگان خط
                        </button>

                    </div>
                </div>
                <div id="analyticsCol" class="rightCol" hidden="hidden">
                    <span>تراکنش:</span>
                    <br>
                    <div class="btn-group-vertical btn-block" dir="rtl">
                        <button type="button" id="marketer_transaction_btn" class="btn btn-primary  rightBtn"
                                value="marketer_transaction_btn" style="text-align: center;">تراکنش هر گروه
                        </button>
                    </div>
                    <hr>
                    <span>خط شکن:</span>
                    <br>
                    <div class="btn-group-vertical btn-block" dir="rtl">
                        <button type="button" id="driver_registration_monitor_btn" class="btn btn-primary  rightBtn"
                                value="driver_registration_monitor_btn">نمودار جذب راننده
                        </button>
                    </div>
                    <hr>
                    <span>سر بزن:</span>
                    <div class="btn-group-vertical btn-block" dir="rtl">
                        <button type="button" id="driver_registration_monitor_btn" class="btn btn-primary  rightBtn"
                                value="last_week_active_drivers_btn">راننده های فعال هفته
                        </button>
                        <button type="button" id="last_week_active_lines_btn" class="btn btn-primary  rightBtn"
                                value="last_week_active_lines_btn">خط های فعال هفته
                        </button>
                    </div>
                    <hr>
                    <span>مخ بزن:</span>
                    <div class="btn-group-vertical btn-block" dir="rtl">
                        <button type="button" id="register_to_active_monitor_chart_btn"
                                class="btn btn-primary  rightBtn"
                                value="register_to_active_monitor_chart_btn">نمودار ثبت‌نام‌ به‌اکتیو
                        </button>
                        <button type="button" id="register_to_active_monitor_list_btn" class="btn btn-primary rightBtn"
                                value="register_to_active_monitor_list_btn" ng-click="reToAc()">لیست ثبت‌نام‌ به‌اکتیو
                        </button>
                        <button type="button" id="active_to_active_monitor_chart_btn"
                                class="btn btn-primary  rightBtn"
                                value="active_to_active_monitor_chart_btn">نمودار اکتیو‌ دی‌اکتیو
                        </button>
                        <button type="button" id="active_to_active_monitor_list_btn" class="btn btn-primary  rightBtn"
                                value="active_to_active_monitor_list_btn" ng-click="acToAc()">لیست اکتیو دی‌اکتیو
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
