{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <title>line chart</title>
    <script src="{% static 'analytics/Chart.bundle.js' %}"></script>
</head>
<body>
<canvas id="lineChart"></canvas>
<script>
    var ctx = document.getElementById('lineChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels:{{ labels|safe }},
            datasets: [
                {% for dataset in datasets %}
                    {
                        label: '{{ dataset.label }}',
                        backgroundColor: 'rgba({{ dataset.backgroundColor.0 }}, {{ dataset.backgroundColor.1 }}, {{ dataset.backgroundColor.2 }}, {{ dataset.backgroundColor.3 }})',
                        borderColor: 'rgba({{ dataset.borderColor.0 }}, {{ dataset.borderColor.1 }}, {{ dataset.borderColor.2 }}, {{ dataset.borderColor.3 }})',
                        data: {{ dataset.data }},
                    },
                {% endfor %}
            ]
        }
    })
</script>

</body>
</html>